*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
body{
    background-image: url(../fondos/fondo2.webp);
    background-repeat: no-repeat;
    
    background-size: cover;
}
.buscar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: #d80b6b;
    padding: 10px;
    height: 80px;
    border-radius: 40px;
}
.buscar_texto{
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 20px;
    float:left;
    width: 0;

}
.boton{
    width: 40px;
    height:40px;
    text-decoration: none;
    color:white;
    font-size: 30px;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 40%;
    top: 38%;
    padding: 10px;
    height: 80px;
    border-radius: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 400%;
    color: violet;
}

@media screen and (min-width:480px){
.buscar:hover>.buscar_texto{
width: 190px;
   }
}
@media screen and (min-width:768px){
    .buscar:hover>.buscar_texto{
    width: 300px;
       }
    }

    @media screen and (min-width:1024px){
        .buscar:hover>.buscar_texto{
        width: 300px;
            }
        }
        /**/
        @media screen and (min-width:480px){
            h1:hover{
            width: 190px;
               }
            }
            @media screen and (min-width:768px){
                h1:hover{
                width: 300px;
                   }
                }
                @media screen and (min-width:1024px){
                    h1:hover{
                    width: 300px;
                       }
                    }